.deleteProfile{
    margin-bottom: 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.deleteProfileButton{
    padding: 12px 120px;
    border: none;
    border-radius: 4px;
    background-color: #d34b4b;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteProfileButton:hover{
    background-color: #983737;
    
}